@import "../node_modules/bulma/bulma.sass";

@import url("https://fonts.googleapis.com/css?family=Karla:400,700");

body {
  font-family: "Karla", sans-serif;
  height: 100vh;
  display: flex;
  background-color: #fcfcfc;
  // overflow: hidden;
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.columns {
  margin-top: auto !important;
  margin-bottom: auto !important;
  height: 100%;
}

.purple {
  color: #8a4af3;
}

.title {
  margin-bottom: 0.5rem !important;
  text-align: left;
}

.flex-column {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  // align-items: center;
  text-align: left;
}

.summary {
  width: 75%;
  font-size: 1.17rem;
}

span {
  font-weight: 700;

  a {
    color: #8a4af3;
  }
}

.second-column {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  // align-items: center;
  text-align: left;

  p {
    margin-top: 0.25rem;
  }
}

.mt {
  margin-top: 0.25rem;
}

.mt5 {
  margin-top: 0.5rem;
}

// MAGIC
.magictime.vanishIn {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.fadeInRightBig {
  animation-delay: 0.75s;
  animation-duration: 3s;
}
